a.topic {
	display: block;
	text-decoration: none;
	img:hover {
		background: #8fbc8f;
	}
	span {
		text-transform: capitalize;
	}
}

main {
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	justify-content: space-around;
}
