.login {
    padding: 10%;
    background-color: #f2f2f2;
    border-radius: 5%;
    border: 1% solid black;
    text-align: center;
}

.textbox {
    background-color: aliceblue;
    color: darkgrey;
}

.textbox: {
    color: aliceblue;
}
.button {
    background-color: darkseagreen; /* Green */
    border: 1px solid white;
    color: white;
    border-radius: 2%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
}

.button:hover {
  background-color: green;
}

li {
  display: inline-block;
  list-style-type: square;
  text-align: left;
}

.word:hover {
    background-color: #f2f2f2;
	  color: #262626;
}

a {
  color: inherit;
  style: none;
}
.word {
	padding: 3% 3%;
	float: right;
	display: block;
  color: #262626;
  text-align: center;
  text-decoration: none;
}

.otherword {
  text-align: right;
}

div {
  font-family: 'Exo 2', sans-serif;
}

input {
  text-align: left;
}
