extends ./_template.jade

block vars
	- var pageName = "Badges";

mixin badge(name)
	div.badge
		img(src="/static/img/badges/" + name.toLowerCase() + ".png")
		span= name

block head
	link(rel="stylesheet", href="/static/css/badges.css")

block body
	+badge("Newbie")
	+badge("Rookie")
	+badge("Physicist")
	+badge("Muon")
	+badge("Higgs")
