extends ./_template.jade

block vars
	- var pageName = "LAUNCH Physics";

mixin topic(name)
	a.topic(href="/topic/" + name)
		img(src="/static/img/topic/" + name + ".png", alt=name.replace(/_+/g, " "))

block head
	link(rel="stylesheet", href="/static/css/index.css")

block title
	title LAUNCH Physics

block body
	main
		+topic("kinematics")
		+topic("projectile_motion")
		+topic("forces")
		+topic("energy")
		+topic("momentum")
		+topic("electricity")
