extends ./_template.jade

block vars
	- var pageName = "{{ topic | title }}";

block head
	link(rel="stylesheet", href="/static/css/topic.css")

block body
	| {% for module in modules %}
	a.module(href="/topic/{{topic}}/{{module}}")
		| {{ module | replace('_', ' ') | title }}
	| {% endfor %}
