<!DOCTYPE html>

<html>
	<head>
		{% block head %}
		<link rel="stylesheet" href="/static/css/main.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo+2">
		<title>{% block title %}{% endblock %} - LAUNCH Physics</title>
		{% endblock %}
	</head>
	<body>
		<nav>
			<a href="/"><img src="/static/img/logo.png"></a>
			<span class="flex-spacer"></span>
			{% if user == none %}
				<a class="navlink" href="/login">Login</a>
				<a class="navlink" href="/register">Register</a>
			{% else %}
				<a class="navlink" href="/account">My Account</a>
				<a class="navlink" href="/badges">Badges</a>
				<a class="navlink" href="/logout">Logout</a>
			{% endif %}
		</nav>
		{% block body %}{% endblock %}
	</body>
</html>
